
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Language Center</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Application_GS_ecole.styles.css" asp-append-version="true" />
    <style>
        .navbar,
        .footer {
            font-family: 'Open Sans', sans-serif;
        }

        #idd {
            font-family: 'Open Sans', sans-serif;
            background-color: #f8f9fa;
        }

        header {
            background-color: black;
            padding: 20px;
            color: #fff;
            text-align: center;
        }

        .dashboard {
            margin: 20px;
        }

        .card {
            margin-bottom: 20px;
        }

    </style>
</head>

<body>
   

        <nav class="navbar navbar-expand-lg navbar-dark fixed-top">
            <a class="navbar-brand" href="/Home/Index">Admin Dashboard</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Cours" asp-action="AddCourses">New Course</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Cours" asp-action="AllCourses">All Courses</a>
            </li>

            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Prof" asp-action="AddProf">New Prof</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Prof" asp-action="AllProfs">All Profs</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="AddStudent">New Student</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="AllStudents">All Students</a>
            </li>

        </ul>
    </nav>
    
        
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-light py-3">
        <div class="container text-center">
            &copy; 2023 - Language Center Web Application with ASP.NET Core MVC Projet 4IIR
        </div>
    </footer>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>
