@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Groupe>

    <div class="container mt-5">
        <h2>Liste des Groupes</h2>

        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Group Number</th>
                    <th scope="col">Designation</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var groupe in Model)
                {
                    <tr>
                        <td>@groupe.NumeroDeGroupe</td>
                        <td>@groupe.Cours?.Designation</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>

