@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<title>Add Prof</title>

<div class="container mt-5">
    <h2>Add Prof</h2>
    <form method="post" action="AddProf">


        <div class="mb-3">
            <label for="NumeroDeGroupe" class="form-label">First name</label>
            <input type="text" class="form-control" id="Prenom" name="Prenom" required>
        </div>
        <div class="mb-3">
            <label for="NumeroDeGroupe" class="form-label">Last name</label>
            <input type="text" class="form-control" id="Nom" name="Nom" required>
        </div>

        <div class="mb-3">
            <label for="CourseName" class="form-label">Course Name</label>
            <input type="text" class="form-control" id="CourseName" name="CourseName" required>

        </div>

        <button type="submit" class="btn btn-primary">Add Prof</button>
    </form>
</div>