@{
    ViewData["Title"] = "Home Page";
}
<div id="idd">
<header>
    <h1>Admin Dashboard</h1>
    <p>Manage the Language Center with ease.</p>
</header>

<div class="container dashboard">
    <div class="card">
        <div class="card-header">
            Courses Management
        </div>
        <div class="card-body">
            <p class="card-text">Add, edit, or delete language courses.</p>
            <a href="/Cours/AllCourses" class="btn btn-primary">Manage Courses</a>
        </div>
    </div>
        <div class="card">
            <div class="card-header">
                Prof Management
            </div>
            <div class="card-body">
                <p class="card-text">Add, edit, or delete language Prof.</p>
                <a href="/Cours/AllCourses" class="btn btn-primary">Manage Courses</a>
            </div>
        </div>

    <!-- Add more cards for different admin functionalities -->

</div>
</div>