body {
    padding-top: 56px; /* Adjust based on your fixed navbar height */
    margin-top:30px;

}


.navbar {
    background-color: black;
}

.dashboard {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card {
    width: 300px;
    margin-bottom: 20px;
}

.card-header-primary {
    background-color: #2196f3;
    color: #fff;
}

.card-header-success {
    background-color: #4caf50;
    color: #fff;
}

.card-header-info {
    background-color: #03a9f4;
    color: #fff;
}
