
@model List<Cours>
@{
}

<h2>List of Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Designation</td>
                <td>
                    <a asp-action="Delete" asp-route-id="@course.Id_cours" class="text-danger ml-1" onclick="return confirm('Are you sure to delete this record?')"><i class="fa fa-trash-alt fa-lg">Delete</i></a>
                </td>
            </tr>
        }
    </tbody>
</table>

