
@model List<Cours>
@{
}

<h2>List of Courses</h2>

<table class="table">
    <thead>
        <tr>
            <th>Designation</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var course in Model)
        {
            <tr>
                <td>@course.Designation</td>
                <td>
                    <a href="#" class="btn btn-danger" onclick="deleteCourse('@course.Id_cours')">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

