@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model List<Etudiant>

<div class="container mt-5">
    <h2>All Students</h2>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">Last name</th>
                <th scope="col">First name</th>
               <th  scope="col">Designation</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var student in Model)
            {
                <tr>
                    <td>@student.Nom</td>
                    <td>@student.Prenom</td>
                    <td>@student.cours?.Designation</td>
                    <td>
                        <a href="#" class="btn btn-danger">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>

